In [6]:
import pandas as pd

In [12]:
colums = ['FID', 'Diameter', 'Slope_MAX', 'Slope_MED', 'Slope_MEAN']

In [14]:
Site_1 = pd.read_excel('Pole.xlsx', usecols=colums)

In [17]:
Site_1.head()

   FID  Diameter  Slope_MAX  Slope_MED  Slope_MEAN
0    0   15.9647    28.8431    10.7492    12.19775
1    1   47.6098    28.0980    15.9479    14.68007
2    2   23.2351    26.0556    13.3116    13.02573
3    3   31.1647    24.8848    13.8912    13.09701
4    4   55.4062    35.7742    15.1184    13.96991

In [43]:
index = "MAX"

In [74]:
fr'Site_1.Slope_{index}'

'Site_1.Slope_MAX'

In [80]:
range_1 = sum(Site_1.Slope_MEAN < 10)
range_2 = sum((Site_1.Slope_MEAN >= 10) & (Site_1.Slope_MEAN < 15))
range_3 = sum((Site_1.Slope_MEAN >= 15) & (Site_1.Slope_MEAN < 25))
range_4 = sum((Site_1.Slope_MEAN >= 25) & (Site_1.Slope_MEAN < 35))
range_5 = sum(Site_1.Slope_MEAN >= 35)

dict = {"range":["> 35", "25 - 35", "15 - 25", "10 - 15", "< 10"], "values":[range_5, range_4, range_3, range_2, range_1]}
results = pd.DataFrame(dict)
results

     range  values
0     > 35       0
1  25 - 35       0
2  15 - 25      30
3  10 - 15     438
4     < 10    5054