In [1]:
import pandas as pd

In [ ]:
#GROUPING SLOPES VALUES AND CALCULATING MEAN AND MAXIMUM VALUES

In [4]:
# Read Excel file with multiple sheets
xls = pd.read_excel("Pole.xlsx", sheet_name=['Site_1', 'Site_2', 'Site_3'])

# Access individual sheets using sheet names
sheet1_df = xls['Site_1']
sheet2_df = xls['Site_2']
sheet3_df = xls['Site_3']

In [5]:
# Read Excel file with multiple sheets + select specific columns from multiple sheets
#sheet1_df = pd.read_excel('Pole.xlsx', sheet_name="Site_1")
sheet1_df = xls['Site_1'].loc[:, ['FID', 'Diameter', 'Slope_MAX', 'Slope_MED']]
sheet2_df = xls['Site_2'].loc[:, ['FID', 'Diameter', 'Slope_MAX', 'Slope_MED']]
sheet3_df = xls['Site_3'].loc[:, ['FID', 'Diameter', 'Slope_MAX', 'Slope_MED']]

In [6]:
sheet1_df.head()

   FID  Diameter  Slope_MAX  Slope_MED
0    0   15.9647    28.8431    10.7492
1    1   47.6098    28.0980    15.9479
2    2   23.2351    26.0556    13.3116
3    3   31.1647    24.8848    13.8912
4    4   55.4062    35.7742    15.1184

In [46]:
def slope_function(x):
    range_1 = sum(x < 10)
    range_2 = sum((x >= 10) & (x < 15))
    range_3 = sum((x >= 15) & (x < 25))
    range_4 = sum((x >= 25) & (x < 35))
    range_5 = sum(x >= 35)

    dict = {"range":["> 35", "25 - 35", "15 - 25", "10 - 15", "< 10"], "values":[range_5, range_4, range_3, range_2, range_1]}
    results = pd.DataFrame(dict)
    results
    return results

results_MED = slope_function(sheet2_df.Slope_MED)
print('MED results:')
print(results_MED.head())
print()
results_MAX = slope_function(sheet2_df.Slope_MAX)
print('MAX results:')
print(results_MAX)

MED results:
     range  values
0     > 35       1
1  25 - 35       2
2  15 - 25      18
3  10 - 15     211
4     < 10    5746

MAX results:
     range  values
0     > 35       6
1  25 - 35      24
2  15 - 25     877
3  10 - 15    1711
4     < 10    3360

In [ ]:
#GROUPING DEPTH TO DIAMETER VALUES

In [7]:
#colums = ['FID', 'd_D']
#Site_1 = pd.read_excel('Pole.xlsx', usecols=colums)

sheet1_dD_df = xls['Site_1'].loc[:, ['FID', 'd_D']]
sheet2_dD_df = xls['Site_2'].loc[:, ['FID', 'd_D']]
sheet3_dD_df = xls['Site_3'].loc[:, ['FID', 'd_D']]

In [8]:
sheet3_dD_df.head()

   FID       d_D
0    0  0.101371
1    1  0.097912
2    2  0.074413
3    3  0.105035
4    4  0.071459

In [11]:
def dD_function(x):
    range_1 = sum(x < 0.08)
    range_2 = sum((x >= 0.08) & (x < 0.1))
    range_3 = sum((x >= 0.1) & (x < 0.14))
    range_4 = sum((x >= 0.14) & (x < 0.2))
    range_5 = sum(x >= 0.2)

    dict = {"range":["> 0.2", "0.14 - 0.2", "0.1 - 0.14", "0.08 - 0.1", "< 0.08"], "values":[range_5, range_4, range_3, range_2, range_1]}
    results = pd.DataFrame(dict)
    results
    return results

results_dD = dD_function(sheet2_dD_df.d_D)
print('Depth to diameter ratio:')
print(results_dD)

Depth to diameter ratio:
        range  values
0       > 0.2      10
1  0.14 - 0.2      17
2  0.1 - 0.14      76
3  0.08 - 0.1     201
4      < 0.08    5674

In [ ]:
#EXTRA GROUPING OF DEPTH TO DIAMETER RATIO

In [12]:
def dD_function(x):
    range_1 = sum(x < 0.03)
    range_2 = sum((x >= 0.03) & (x < 0.06))
    range_3 = sum((x >= 0.06) & (x < 0.09))
    range_4 = sum((x >= 0.09) & (x < 0.12))
    range_5 = sum((x >= 0.12) & (x < 0.15))
    range_6 = sum((x >= 0.15) & (x < 0.18))
    range_7 = sum((x >= 0.18) & (x < 0.21))
    range_8 = sum((x >= 0.21) & (x < 0.24))
    range_9 = sum((x >= 0.24) & (x < 0.27))
    range_10 = sum((x >= 0.27) & (x < 0.3))
    range_11 = sum((x >= 0.3) & (x < 0.33))
    range_12 = sum(x >= 0.33)

    dict = {"range":["> 0.33", "0.3 - 0.33", "0.27 - 0.3", "0.24 - 0.24", "0.27 - 0.24", "0.18 - 0.21", "0.15 - 0.18", "0.12 - 0.15", "0.09 - 0.12", "0.06 - 0.09", "0.03 - 0.06", "< 0.03"], "values":[range_12, range_11, range_10, range_9, range_8, range_7, range_6, range_5, range_4, range_3, range_2, range_1]}
    results = pd.DataFrame(dict)
    results
    return results

results_dD_wide = dD_function(sheet2_dD_df.d_D)
print('Depth to diameter ratio wide range:')
print(results_dD_wide)

Depth to diameter ratio wide range:
          range  values
0        > 0.33       2
1    0.3 - 0.33       0
2    0.27 - 0.3       0
3   0.24 - 0.24       4
4   0.27 - 0.24       4
5   0.18 - 0.21       3
6   0.15 - 0.18      10
7   0.12 - 0.15      20
8   0.09 - 0.12     127
9   0.06 - 0.09     657
10  0.03 - 0.06    2755
11       < 0.03    2396